body {
    font-family: "Montserrat", sans-serif;
}

body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/ar26ar26/image/upload/v1627907359/photobg.jpg");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

    /* header */
    header {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0, .4), rgba(0,0,0, .5)), url(images/header-img.jpeg) no-repeat center center /cover;
    }

    /* nav bar */
    .nav-menu {
    background: linear-gradient(rgba(0,0,0, .3), rgba(0,0,0, .5));
    padding: 15px;
    transition: all .7s;
    }

    .menu-item {
    font-size: 13px;
    letter-spacing: 1px;
    color: #eee;
    transition: color .5s;
    }

    .menu-item:hover {
    color: #70aed2;
    }

    .nav-active {
    color: #70aed2;
    }


    .custom-navbar {
    padding: 5px 30px;
    background: linear-gradient(rgba(0,0,0, .6), rgba(0,0,0, .7));
    }

    /* end of nav bar */






    /* home */

    .cap {
    height: 200px;
    width: 400px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;



    /* mission */
   .Mission {
    background: #1B0E0E;
    }


    /* collection */

    .card-shadow {
    box-shadow: 5px 8px 20px #444;
    }

    .heading {
    position: absolute;
    top: 70%;
    right: 0;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #222;
    width: 70%;
    cursor: pointer;
    opacity: .7;
    transition: all .5s;
    }

    .heading:hover {
    opacity: 1;
    }

    /* end of collection */




    /* pricing */

    .card-1, .card-2, .card-3 {
    background: linear-gradient(rgba(0,0,0, .6), rgba(0,0,0, .5)), url(images/pricing-card-bg.jpeg) no-repeat center /cover;
    box-shadow: 7px 18px 50px #555;
    max-width: 400px;
    }

    .card-list-item {
    border-bottom: 1px groove #eee;
    width: 55%;
    margin: auto;
    }

    .price-card-button {
    background-color: #f5593d;
    width: 130px;
    border-radius: 25px;
    box-shadow: 5px 8px 18px #000;
    transition: all .2s;
    }

    .price-card-button:hover {
    background-color: #f9793d;
    transform: translateY(-2px);
    }

    .moveFromLeft {
    animation-name: moveFromLeft;
    animation-duration: 2s;
    }

    .moveFromRight {
    animation-name: moveFromRight;
    animation-duration: 2s;
    }

    .moveFromBottom {
    animation-name: moveFromBottom;
    animation-duration: 2s;
    }

    @keyframes moveFromLeft {
    0% {
    transform: translateX(-100px);
    opacity: 0;
    }
    100% {
    transform: translateX(0);
    opacity: 1;
    }
    }

    @keyframes moveFromRight {
    0% {
    transform: translateX(100px);
    opacity: 0;
    }
    100% {
    transform: translateX(0);
    opacity: 1;
    }
    }

    @keyframes moveFromBottom {
    0% {
    transform: translateY(-100px);
    opacity: 0;
    }
    100% {
    transform: translateY(0);
    opacity: 1;
    }
    }

    /* end of pricing */




    /* footer */


    .footer-link {
    color: #eee;
    font-size: 13px;
    transition: all .3s;
    }

    .footer-link:hover {
    color: #70aed2;
    text-decoration: none;
    }


    /* end of footer */

